*{
    margin:0;
    box-sizing: border-box;
    font-family: "Steppe-Book";
}
.wrapper{
    margin:0 auto;
    width:1024px;
    background-color: rgb(211, 209, 209);
    

}
body{
    height: 100%;
}
.header_top{
    display: flex;
    justify-content: space-between;
    height: 100px;
    background-color: rgb(211, 103, 200);
    color:white;
    align-items: center;
}
.header_logo{
    width: 75px;
    height: 60px;
    align-self: center;
    margin-left: 20px;
}
.header_top_texts{
    display: flex;
    justify-content: space-between;
    gap:20px;
    margin-right: 20px;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.header_bottom{
    height: 40px;
    background-color: rgb(219, 183, 226);
    display:flex;
    justify-content: flex-start;
    align-items: center;
    gap:20px;
    padding-left: 20px;
}
.link_about{
   color:black;
}
.link_conacts{
    color:rgb(89, 87, 87);
}
@font-face {
    font-family: "Steppe-Book";
    src: url(./fonts/Steppe-Book.ttf);
    
}
.center{
    display: flex;
    justify-content: space-between;
    
}
main{
    margin-top: 40px;
    margin-left: 20px;
}
.line{
    height: 30px;
    background-color: rgb(211, 103, 200);
    margin-bottom: 20px;

}
.main_text{
    display:flex;
    text-align: left;
    margin-bottom: 250px;
}
nav{
    height: 300px;
    width:500px;
    margin-top: 78px;
    background-color:  rgb(219, 183, 226);
    margin-right: 20px;
    font-size:15px;
    text-align: left;
}
.navigation{
    line-height: 30px;
    padding:20px;
}
.items{
    margin-left: 20px;
    margin-right: 20px;
    gap:20px;
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 40px;
}
.item{
    background-color: rgb(211, 103, 200) ;
    border:1px solid white;
    padding:40px 0px; 
    text-align: center;
    
}
.item_text{
    display:inline;
    background-color: white;
}
footer{
    height: 100px;
    background-color: rgb(211, 103, 200);
    color:white;
    display:flex;
    justify-content:left;
    text-align: left;
    align-items: center;
    gap:5px;
    
}
.footer_icon{
    margin-left: 20px;
    width: 20px;
    height: 20px;
}

